.logo {
    width: 50%;
    height: 50%;
}

.mt-center {
    margin-top: 30%;
}

.mt-small {
    margin-top: 3%;
}

.mt-normal {
    margin-top: 6%;
}

ion-input,
ion-item {
    // border-radius: 2px !important;
    // border: 1px solid #ffffff !important;
    // --placeholder-color: red !important;
    // --placeholder-opacity: red !important;
    font-size: 19px !important;
    --placeholder-font-weight: 50px !important;
    --background: --ion-color-primary !important;
    // --highlight-color-focused: #ffffff !important;
    --border-color: #304ffe !important;
    --highlight-color-invalid: red; // invalid underline color
    --highlight-color-valid: #304ffe; // valid underline color
}

.error-messages {
    font-size: 0.8em;
    color: red;
    text-align: center;
    font-family: 'Source Code Pro';
}

ion-text {
    font-family: 'Source Code Pro';
}

.hd-text-title {
    font-family: 'Dancing Script' !important;
    font-size: 5.0em;
}

.hd-text-subtitle {
    margin-top: -1% !important;
    font-size: 1.8em;
}

.custom-loader-class {
    // --background: transparent;
}