<ion-content color="primary">
    <ion-grid class="mt-center">
        <ion-row>
            <ion-col offset="1" size="10">
                <!-- <ion-img src="/assets/icon/car2go.png"></ion-img> -->
                <div class="hd-text-title ion-text-center">
                    Dreaming
                </div>
                <div class="hd-text-subtitle ion-text-center">
                    FLOWERS
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <form [formGroup]="loginForm">
        <ion-grid class="mt-normal">
            <ion-row>
                <ion-col offset="1" size="10">
                    <ion-item>
                        <ion-input formControlName="email" color="dark" clearInput="true" placeholder="Correo Electronico" class="ph-light" type="email" inputmode="email"></ion-input>
                    </ion-item>

                    <ng-container *ngFor="let e of error_messages.email">
                        <div class="error-messages" *ngIf="loginForm.get('email').hasError(e.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                            {{ e.message }}
                        </div>
                    </ng-container>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col offset="1" size="10">
                    <ion-item>
                        <ion-input formControlName="password" placeholder="Contraseña" clearInput="true" type="password" color="dark"></ion-input>
                    </ion-item>
                    <ng-container *ngFor="let e of error_messages.password">
                        <div class="error-messages" *ngIf="loginForm.get('password').hasError(e.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                            {{ e.message }}
                        </div>
                    </ng-container>

                </ion-col>
            </ion-row>

            <ion-row class="mt-small">
                <ion-col offset="1" size="10">
                    <ion-button [disabled]="!loginForm.valid" (click)="tryLogin(loginForm.value)" color="secondary" expand="full">
                        <ion-text color="light">
                            LOGIN
                        </ion-text>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="mt-normal">
                <ion-col offset="1" size="10">
                    <ion-text color="dark" routerLink="/register">
                        Si no dispones de una cuenta da click aquí
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>