<ion-header no-border color="primary" translucent>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark" menu="mainMenu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Mi carrito de compras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div *ngIf="!loader">
        <ion-grid *ngFor="let flower of flowers" class="mt-large bg-white">
            <ion-row>
                <ion-col size="2">
                    <img [src]="flower.urlImage" alt="" srcset="">
                </ion-col>
                <ion-col class="border-bottom" size="8">
                    <div class="title-card-prom">
                        {{ flower.name }}
                    </div>
                    <div class="mt-large mt-card-prom">
                        Envío gratis
                    </div>
                    <div class="mt-large title-card-prom">
                        {{ flower.quanty }} unidades
                    </div>
                    <br>
                </ion-col>
                <ion-col class="border-bottom" size="2">
                    <div (click)="showOptions(flower)" class="ion-activatable ion-text-center">
                        <ion-text>
                            <ion-icon color="medium" class="cart-icon" name="more"></ion-icon>
                            <ion-ripple-effect></ion-ripple-effect>
                        </ion-text>
                    </div>
                    <br>

                    <div class="price-card-prom">
                        ${{ flower.price * flower.quanty }}
                    </div>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col offset="2" size="10">
                    <ion-text color="secondary">
                        Ver más productos
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>
<ion-footer>
    <div class="bg-white" *ngIf="flowers.length > 0">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="8">
                    Productos ({{ flowers.length }})
                </ion-col>
                <ion-col class="ion-text-end" size="4">
                    $ {{ getPriceTotal() }}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8">
                    <ion-text *ngIf="!coords" class="txt-envio" color="danger">
                        Envio no disponible
                    </ion-text>

                    <ion-text *ngIf="coords" class="txt-envio" color="secondary">
                        Envio a {{ coords.lat }}, {{ coords.lng }}
                    </ion-text>
                </ion-col>
                <ion-col class="ion-text-end" size="4">
                    <ion-text class="txt-envio" color="success">
                        Gratis
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="coords" fixed>
            <ion-row class="border-bottom">
                <ion-col size="4">
                    <h5>
                        Total
                    </h5>
                </ion-col>
                <ion-col size="8">
                    <div class="ion-text-end">
                        $ {{ getPriceTotal() }}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button color="secondary" expand="block">
                        Confirmar compra
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="bg-white" *ngIf="!coords">
        <ion-grid fixed>
            <ion-row class="border-bottom">
                <ion-col size="12">
                    <h5>
                        Necesitas ir a "mi ubicación" antes de continuar con la compra
                    </h5>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <ion-button routerLink="/my-address" color="secondary" expand="block">
                        Ir a Mi Ubicación
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-footer>